body{
  /*background-image: url("http://www.co-optimus.com/images/upload/image/2011/deBlob2-battle.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
img{
  max-height: 100%;
  max-width: 50%;
  float: right;
}
.newGame {
  font-size: 15px;
}

#gameOverBoxOne{
  height: 100vh;
  background-image: url("http://www.craveonline.com/images/stories/124405/image_assets/image_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gameOverBoxTwo{
  height: 100vh;
  background-image: url("http://www.craveonline.com/images/stories/124405/image_assets/image_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainBox {
  width: 1200px;
  margin-top: 30px;
}

.row {
  margin: 0;
}

#topFrame {
  background: rgba(255, 255, 255, 0.60);
  height: 300px;
  padding: 0px;
}

#leftFrame {
  padding: 0;
  text-align: center;
}

#rightFrame {
  padding: 0;
  text-align: center;
}

#pOneStrength, #pTwoStrength {
  background: rgba(0, 106, 255, 0.53);
  height: 200px;
  width: 585px;
}

#pOneObjective, #pTwoObjective {
  background: rgba(0, 106, 255, 0.53);
  height: 200px;
  width: 585px;
}

#pOneBlobs, #pTwoBlobs {
  background: rgba(0, 106, 255, 0.53);
  height: 200px;
  width: 585px;
}

#colorPellet, #blackPellet {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background: blue;
}
/*#tailOne {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: red;
}*/
#countdown{
  position: fixed;
  top: 50%;
  left: 48%;
  font-size: 100px;
}

button {
    background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 100px;
    width: 100px;
    line-height: 60px;
    margin: 5px 5px;
    text-align: center;
    border: 0;
    border-radius: 50px;
}

#pOneDisplayBox, #pTwoDisplayBox {
  background: white;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50px;
}

#colorPellet {
  position: absolute;
  top: 40px;
  left: 0%;
}

#blackPellet {
  position: absolute;
  right: 0%;
  bottom: 40px;
}

#pOneProgressBar, #pTwoProgressBar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  /*box-shadow: inset 0px 4px 6px #ADABAB;*/
}

#pOneProgressBar div, #pTwoProgressBar div {
  height: 100%;
  line-height: 50px;
  width: 100px;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
  /*box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);*/
}

